.formWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.email {
    border-bottom: 1px solid #cae7fe;
    display: flex;
    align-items: center;
}
.emailIco {
    background-image: url(../../../public/email-ico.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 30px 0 30px 75px;
}
.emailText {
    padding-left: 45px;
    font-size: 18px;
    line-height: 25px;
    color: #313131;
}
.phoneNumber {
    display: flex;
    align-items: center;
}
.phoneIco {
    background-image: url(../../../public/phone-ico.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    margin: 34.5px 0 34.5px 76px;
}
.phoneNumberText {
    padding-left: 46.5px;
    font-size: 18px;
    line-height: 25px;
    color: #313131;
}
.fields {
    display: flex;
    justify-content: space-around;
    flex: 1;
    margin: 47px 0;
}
.field {
    display: flex;
    justify-content: space-around;
    flex-basis: calc(100% / 3);
    align-items: center;
}
.field > div + div,
.fieldEmail > div + div {
    max-height: 56px;
    width: 65%;
}
.fieldEmail {
    display: flex;
    border-right: 1px solid #cae7fe;
    border-left: 1px solid #cae7fe;
    justify-content: space-around;
    flex-basis: calc(100% / 3);
    align-items: center;
}
.fieldContactIco {
    background-image: url(../../../public/contact-icon.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 27px;
    height: 30px;
}
.fieldEmailIco {
    background-image: url(../../../public/email-ico.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.fieldPhoneIco {
    background-image: url(../../../public/phone-ico.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
}
.button {
    display: flex;
    justify-content: center;
    padding-bottom: 44px;
}
.button > button {
    background-color: #01bda7;
    padding: 15px 26px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    border-radius: 36px;
    border: none;
    outline: none;
}
.button > button:hover {
    background-color: #01bda7;
}
@media screen and (max-width: 768px) {
    .emailText {
        padding-left: 12px;
        font-size: 14px;
        line-height: 19px;
    }
    .phoneIco {
        width: 18px;
        height: 18px;
        margin: 23px 0 23px 13px;
    }
    .phoneNumberText {
        padding-left: 13px;
        font-size: 14px;
        line-height: 19px;
    }
    .emailIco {
        width: 20px;
        height: 20px;
        margin: 22px 0 22px 12px;
    }
    .fields {
        flex-direction: column;
        padding: 26px 23px;
        margin: 0;
    }
    .fieldContactIco,
    .fieldEmailIco,
    .fieldPhoneIco {
        display: none;
    }
    .field > div + div,
    .fieldEmail > div + div {
        max-height: 56px;
        width: 100%;
    }
    .fieldEmail {
        margin: 40px 0;
    }
    .button {
        padding-bottom: 17px;
    }
}
